<div class="container-fluid">

	<h1 class="forum">Hi There! Welcome To the Oasis Forum.</h1>

		<h2 class="suggestions">Post Area</h2>

		<form class="create-update-form" action="/" method="POST">
			

			<div class="form-group">
				<h2>Post About A Place Where You Have Traveled!</h2>

					<label>Where Have You Gone? </label><input type="text" id="postArea" name="{{spotName}}">
					<br/>
					<label>What Is The Address? </label><input type="text" id="postArea" name="{{spotAddress}}">

			</div>

			<button type="submit" class="btn-danger post"><i class="fa fa-bell" aria-hidden="true"></i> Make A Post</button>
		</form>

	
		<h2 class="popUp">These Are Posted Up Live!!!</h2>

		<ol>
			{{#each Posts}}
			<li class="post">
				<div class="jumbotron">
					{{spotName}}
					<form action="/{{postId}}?_method=PUT" method="POST">
						<button type="submit" class="btn-success"><i class="fa fa-money" aria-hidden="true"></i> Remove Post</button>
						<button type="submit" class="btn-success"><i class="fa fa-money" aria-hidden="true"></i> Remove Post</button>
					</form>
				</div>
			</li>
			{{/each}}
		</ol>
</div>	