body
	{
		
		margin: 0px;
		padding: 0px;
		
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 300;
		color: black;
	}

strong {

	font-family: 'Kaushan Script', cursive;
	color:gold;

}

a {
	font-family: 'Kaushan Script', cursive;
	color:black;
}

p {

	color: #FFA500 ;
	text-shadow: 2px 2px black;
	font-family: 'Wire One', sans-serif;
}

.form{
	text-align: center;
}
.button-block{
	background-color:orange;
}
}
.form{
	font-family: 'Kaushan Script', cursive;
	color:black;
	margin:auto;
	background-color: #C0C0C0;
}

.placeholder{
		color:black;
	}

.container-fluid {
	font-family: 'Kaushan Script', cursive;

	background-color: #C0C0C0;
	width: 100%;
}

#map {
	margin: auto;
	
}
	

.navArea {
	background-color: #008B8B;
	width: 100%;
	border: 3px solid black;
	color: black;
}

.form-control {

	color:black;
}

.jumbotron{
	background-image: url(./../images/pool_city.jpg);
	background-size: 100%;
	background-position: center;
	margin:auto;
	height:550px;
	}

.navbar-brand{
	font-family: 'Kaushan Script', cursive;
	color: orange;
}




	
	